@model ExpenseTracker.UI.Models.AddUserViewModel
@{
}

<h1 class="mt-3">Add User</h1>

<form method="post">

    <div class="mt-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name" />
    </div>

    <div class="mt-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="Email" />
    </div>

    <div class="mt-3">
        <label class="form-label">Role</label>
        <input type="text" class="form-control" asp-for="Role" />
    </div>

    <div class="mt-3">
        <label class="form-label">Profile Picture (URL)</label>
        <input type="text" class="form-control" asp-for="ProfilePicture" />
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Add User</button>
    </div>

</form>

